.product-introduction {
    width: 700px;
    margin-right: 37%;
    margin-left: 14%;
    padding: 1% 0 2% 0;

    border-bottom: 1px solid #E9ECEF;

    .introduction-title {
        font-size: 20px;
        font-weight: 700;
    }

    .introduction-content {
        color: #373A3C;
        font-size: 14px;
        text-align: left;
    }
}