.menu-item.more-dropdown:hover .dropdown {
  display: block;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1060px;
  height: 30px;
  margin-top: 10px;
}

.btnBox_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.loginBtn {
  width: 72px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Pretendard";
  font-size: 14px;
}

.userName {
  width: 100px;
  height: 38px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  font-size: 14px;
  padding-bottom: 2px;
}

.btnBox .signInBtn {
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Pretendard";
  font-size: 14px;
}

.adminBtn {
  display: flex;
  width: 60px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  font-size: 13.3333px;
  text-decoration: none; /* 링크의 밑줄 제거 */
  align-items: center;
  justify-content: center;
}
