.top {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo {
  height: 3rem;
  background-color: #ffffff;
  line-height: 3.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}
.logo:hover {
  cursor: pointer;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo_mobile {
  align-items: center;
  height: 3rem;
  background-color: #ffffff;
  line-height: 3.5rem;
  /* margin: 10px; */
}
.logo_mobile:hover {
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.searchBtn {
  background-color: #929292;
  color: white;
  border: none;
  padding: 14px 0px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.whiteSquare {
  background-color: transparent;
  width: 30%;
}

.menu {
  background-color: #ffffff;
  height: 3.5rem;
  margin-top: 1rem;
}

.menu-item {
  display: inline-block;
  color: rgb(59, 59, 59);
  font-size: 1rem;
  font-weight: bold;
  line-height: 3.5rem;
  width: 16.666%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgb(228, 228, 228);
}

.menu-item:active,
.menu-item.active {
  background-color: rgb(230, 172, 184);
}

.menu-item_mobile {
  display: inline-block;
  color: rgb(59, 59, 59);
  font-size: 1rem;
  font-weight: bold;
  line-height: 3.5rem;
  width: 33.333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item_mobile:hover {
  background-color: rgb(228, 228, 228);
}

.menu-item_mobile:active,
.menu-item_mobile.active {
  background-color: rgb(230, 172, 184);
}

.dropdown {
  width: 200px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 9;
  font-weight: bold;
}

.menu-item.more-dropdown:hover .dropdown {
  display: block;
}
.menu-item_mobile.more-dropdown:hover .dropdown {
  display: block;
}
.dropdown-item {
  padding: 5px;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: rgb(228, 228, 228);
}
/* .dropdown-item.active {
  background-color: rgb(230, 172, 184);
} */

.loginBtn {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.signInBtn {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border: none;
  /* background-color: rgb(255, 169, 188); */
  background-color: transparent;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
