.picture-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-img {
      max-width: 60%;
      max-height: 60%;
  }
  
  .btn-left {
      position: absolute;
      right: calc(90% + 10px); /* 50% + 버튼 너비 / 2 */
      transform: translateY(-50%);
      
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #fff;
  
      &:hover {
          color: #ccc;
      }
  }
  
  .btn-right {    
      position: absolute;
      left: calc(90% + 10px); /* 50% + 버튼 너비 / 2 */
      transform: translateY(-50%);
      
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #fff;
  
      &:hover {
          color: #ccc;
      }
  }
  
  .btn-close {
      position: absolute;
      top: 0;
      right: 0;
  
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #fff;
  
      &:hover {
          color: #ccc;
      }
  }
  
  .small-picture {
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
          height: 90px;
          width: 110px;
          margin: 0 3px 6px;
      }
  }
}
