.Review {
    width: 700px;
    margin-right: 37%;
    margin-left: 14%;
    padding: 1% 0 2% 0;

    color: #373A3C;
    .review-header {
        display: flex;

        .review-title {
            margin-bottom: 3%;
            font-size: 20px;
            font-weight: 700;
        }
        .review-number {
            margin-left: 1%;
            font-size: 20px;
            font-weight: 700;
            color: #EB1749;
        }
    }
    
    img {
        width: 700px;
    }
}

.ReviewDetail {
    padding: 3% 0 3% 0;

    border-bottom: 1px solid #DEE2E6;
    color: #373A3C;
}
