.container {
  margin: 0 auto;
  padding: 30px 0;
  border: 1.2px solid #ced4d9;
  border-radius: 5px;
  position: sticky;
  height: 1100px;
  top: 32px;
  @media screen and (max-width: 740px) {
    display: none;
  }
}

.buttonSection {
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.buttonSection :hover {
  cursor: pointer;
}

.buttonSection button {
  width: 90%;
  color: white;
  background-color: #2c96ed;
  border: none;
  padding: 15px;
  border-radius: 5px;
}
