.ReviewDetail{
    .name{
        padding: 0 0 2% 0;

        font-size: 14px;
        font-weight: 600;
        color: #373a40;
    }
    .content{
        font-size: 15px;
        font-weight: 400;
        color: #373a3c;

        line-height: 25px;
    }
}