.Detail-title {
    display: flex;
    flex-direction: column;
    margin: -300px 200px 30px;
    
    .location {
        display: flex;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        height: 30px;
        margin: 0 0 8px 0;
        
        font-size: 14px;
        font-weight: 700;
        color: #848c94;

        .country{
            padding: 6px;
        }
        .icon-right{
            padding: 6px;
        }
        .icon-location{
            padding: 0 0 0 6px;
        }
        .city{
            padding: 6px;
        }
    } 

    .title {
        display: flex;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        height: 40px;
        
        font-size: 32px;
        font-weight: 700;
        color: #343a40;
    }

    .review {
        display: flex;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        height: 13px;
        margin: 15px 0 0 0;
        
        font-weight: 600;

        .star {
            width: 60px;
            font-size: 10px;
            color: #eb1749;
        }
        .score {
            width: 20px;
            font-size: 14px;
            color: #343a40;
        }
        .count {
            width: 30px;
            font-size: 14px;
            color: #848c94;
        }
        .icon-right{
            padding-bottom: 1px;
            font-size: 11px;
            color: #848c94;
        }
    }
}
