@use "../../../Detail.scss" as detail;

.Detail-title {
    display: flex;
    flex-direction: column;
    margin: detail.$magin;
    
    // 제목의 위치
    .location {
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 8px;
        
        font-size: 14px;
        font-weight: 700;
        color: detail.$light-color;

        .icon-right{
            margin: 6px;
        }
        .icon-location{
            margin: 6px;
        }
    } 

    // 제목의 제목
    .title {
        display: flex;
        align-items: center;
        height: 40px;
        
        font-size: 32px;
        font-weight: 700;
        color: detail.$dark-color;
    }

    // 제목의 리뷰
    .review {
        display: flex;
        align-items: center;
        text-align: center;
        
        margin-top: 8px;
        height: 30px;
        
        font-size: 14px;
        font-weight: 600;

        .star {
            font-size: 10px;
            color: detail.$secondary-color;
        }
        .score {
            width: 3%;
            color: detail.$dark-color;
        }
        .count {
            width: 3%;
            color: detail.$light-color;
        }
        .icon-right{
            font-size: 10px;
            color: detail.$light-color;
        }
    }
}
