@use "../../../Detail.scss" as detail;

.Detail-title {
    // 제목의 위치
    .location {
        display: flex;
        align-items: center;
        
        font-size: 14px;
        font-weight: 700;
        color: detail.$light-color;

        .country{
            margin: detail.$margin;
        }
        .city{
            margin: detail.$margin;
        }
        .icon-right{
            margin: 0 0.8% 1px 0.8%;
        }
        .icon-location{
            margin: 0 0.8% 1px 0.8%;
        }
    } 

    // 제목의 제목
    .title {
        display: flex;
        align-items: center;
        text-align: left;
        .content{
            margin: 10px 0 10px 0;
            font-size: 32px;
            font-weight: 700;
            color: detail.$dark-color;
        }
    }

    // 제목의 리뷰
    .review {
        display: flex;
        align-items: center;
        text-align: center;
        
        font-size: 14px;
        font-weight: 600;

        .star {
            margin-bottom: 1px;
            font-size: 10px;
            color: detail.$secondary-color;
        }
        .score {
            margin: detail.$margin;
            margin: 1%;
            color: detail.$dark-color;
        }
        .count {
            margin: detail.$margin;
            margin-right: 1%;
            color: detail.$light-color;
        }
        .icon-right{
            margin-bottom: 1px;
            font-size: 10px;
            color: detail.$light-color;
        }
    }
}
