@use "../../Detail.scss" as detail;

.Manager {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: detail.$padding;
    @include detail.line;

    .manager-profile {
        display: flex;
        flex-direction: row;

        .manager-image {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            outline: #E9ECEF dashed 0.8px;
            object-fit: cover;
        }
        .manager-name {
            width: 200px;
            margin: 2% 2% 0 2%;
            align-items: center;
            font-size: 17px;
            font-weight: 700;
        }
        .manager-inquiry {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            color: detail.$secondary-color;
            padding-left: 420px;

            .icon {
                padding-right: 4%;
            }
            .inquiry {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }

    .manager-info{
        color: detail.$dark-color;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        margin: 0 8px 0 8px;
    }
}