@use "../../Detail.scss" as detail;

.Manager {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: detail.$padding;
    @include detail.line;

    .manager-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .manager-profile {
            display: flex;
            flex-direction: row;
            white-space:nowrap;
    
            .manager-image {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                outline: #E9ECEF dashed 0.8px;
                object-fit: cover;
            }
    
            .manager-name {
                margin: 10px;
                text-align: left;
                font-size: 17px;
                font-weight: 700;
            }
        }
    
        .manager-inquiry {
            display: flex;
            align-items: center;
            color: detail.$secondary-color;
            white-space:nowrap;
    
            .icon {
                padding-right: 4%;
            }
            .inquiry {
                margin: 10px 10px 10px 5px;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }

    .manager-info{
        color: detail.$dark-color;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }
}