/* main color */
$primary-color: #e6003d;
$secondary-color: #f184a1;

/* font color */
$dark-color: #343a40;
$light-color: #848c94;
$very-light-color: #adb5bd;

/* background color */
$background-color: #f8f9fa;

/* padding */
$padding: 24px 0 24px 0;
$margin: 12px 0 12px 0;

/* line */
@mixin line {
  border-bottom: 1px solid #e9ecef;
}

// display: none
