@use "../../Detail.scss" as detail;

.Map {
    padding: detail.$padding;
    @include detail.line;

    .day-button {
        display: flex;
    }
      
    .day-button button {
        padding: 10px 20px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 2%;

        color: detail.$dark-color;
        font-size: 14px;
        font-weight: 600;
        background-color: #FFFFFF;
        
        cursor: pointer;
    }
      
    .day-button button:hover {
        background-color: #e0e0e0;
    }

    .day-button button.selected {
        background-color: detail.$secondary-color;
        color: #fff;
    }
}
