.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;

  z-index: 1;
}

.swiper-slide-active {
  opacity: 1;
  width: 100%;
}
.swiper-slide::before,
.swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
}
.swiper-button-prev {
  right: 100px;
  top: 50px;
  left: auto;
  top: auto;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
  z-index: 10;
}

.swiper-button-next {
  right: 60px;
  top: 50px;
  left: auto;
  top: auto;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
  z-index: 10;
}
