@use "../../../Detail.scss" as detail;

.select-date {
  padding: detail.$padding;
  @include detail.line;

  .select-ticket-title {
    color: detail.$dark-color;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .Calendar {
    padding: 30px 0;
    border: 1px solid #E9ECEF;
    display: flex;
    justify-content: center;
  }
}