.login_body {
    flex-direction: column;
    align-items: center;
    max-width: 530px;
    border: solid 3px lightgray;
    border-radius: 6px;
    margin: 30px auto;
    padding: 36px;
  }
  
  .amuse_logo {
    width: 300px;
    height: 80px;
  }
  
  .amuse_login_title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .amuse_title_bottom {
    color: #EB1749;
    margin: 10px 0;
  }
  
  .login_btn {
    background-color:#e9ecf2;
    width: 95px;
    height: 28px;
    border-radius: 4px;
    border: none;
  }
  
  .amuse_title_top {
    margin: 40px 0 0 0;
  }
  
  .signup_link, .password_reset_link {
    color: #EB1749;
    margin-left: 15px;
  }
  
  .email_input, .password_input, .user_name_input {
    width: 380px;
    height: 42px;
    border-style: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px;
    margin: 8px 0;
  }

  .email_input {
    width: 100%
  }
  
  .input {
    padding: 6px 20px;
  }
  
  .signup_box, .password_reset_box {
    display: flex;
    justify-content: baseline;
    margin: 3px 0;
  }
  
  .login_function_box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 25px 0 0 0;
  }
  
  .v_box {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 15px;
    align-items: baseline;
    margin: auto;
  }

  .OAuth {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;
  }

  .login_google {
    background-color: beige;
  }

  .login_kakao {
    background-color: yellow;
    color: gray;
  }

  .login_naver {
    background-color: green;
    color: white;
  }

  .login_google, .login_kakao, .login_naver{
    border-radius: 4px;
    height: 36px;
    border: none;
    padding: 4px;
    margin: 4px 0;
  }
