.footer {
  padding-top: 20px;
}

.footer_text {
  width: 1060px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bottom {
  background-color: #ededed;
  padding-top: 40px;
  height: 500px;
}

.bottom_text {
  width: 1060px;
  margin: 0 auto;
  padding-top: 10px;
}

.smallText {
  font-size: 13px;
  color: #a3a3a3;
}

.docsBtn {
  height: 30px;
}

p span {
  /* font-weight: bold; */
  margin-right: 20px;
}
