/* 약관동의 css */
.all_agree_box {
  height: 60px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 4px 3px #F5F5F5;
  padding: 20px 16px;
}

.agree_check {
  content: url(../LogInPage/Icons/check_icon.png);
  width: 20px;
  margin: 0 10px 0 0;
}

.agree_check:checked {
  content: url(../LogInPage/Icons/checked_icon.png);
}

.all_agree_text {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* font-size: 12px;
  font-weight: 500;
  line-height: normal; */
}

.agree_box {
  display: flex;
  align-items: center;
  margin: 7px 16px;
}

.agree_text {
  color: #9C9C9C;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content_btn {
  color: #4A87FF;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.next_btn {
  margin: 25px 0;
}

/* 약관동의 Modal */
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  color: var(--, #000);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.64px;
}

.modal_content {
  margin: 30px 0;
}

.agree_btn {
  width: 659px;
  height: 60px;
  background-color: #E6003D;
  border: none;
  border-radius: 8px;
  background: #E6003E;
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  position: fixed;
  bottom: 42px;
}

/* 완료 */
.done_text {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.welcome_text {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 30px 0;
}


/* 다음 버튼 비활성화 */
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}