.aboutBody {
  width: 80%;
  margin: auto;
}

.middle {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 3rem;
}

.sns {
  width: 30%;
  height: 43px;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}