.more-btn {
    margin-right: 40%;
    margin-left: 36%;

    height: 45px;
    width: 180px;

    background-color: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    
    font-size: 15px;
    font-weight: 600;
}