@use "../../Detail.scss" as detail;

.Review {
    padding: detail.$padding;
    
    .review-header {
        display: flex;

        .review-title {
            font-size: 20px;
            font-weight: 700;
        }
        .review-number {
            margin-left: 1%;
            font-size: 20px;
            font-weight: 700;
            color: detail.$secondary-color;
        }
    }
    
    img {
        width: 700px;
    }
}
