.introduce {
  width: 1060px;
  margin: 0 auto;
}

.content-block {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-block h2 {
  margin-bottom: 10px;
}

.content-block p {
  font-size: 14px;
}
