.footer {
  padding-top: 20px;
}

.bottom {
  background-color: #ededed;
  padding-top: 40px;
  height: 500px;
}

.infoFlexBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerInfo {
  width: 60%;
  @media (max-width: 1023px) {
    width: 100%;
    white-space: nowrap;
  }
}

.partnerInfo {
  width: 40%;
  @media (max-width: 1023px) {
    display: none;
  }
}

.partnerInfo p {
  color: #7F7F7F;
  font-family: Pretendard;
  font-size: 15px;
}

.docsBtn {
  margin: 10px 0;
}


/* 업체 ToolTip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.tooltip:hover img {
  filter: grayscale(0%);
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: #3333338c;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}


/* 배치 */
.gridBox {
  height: 235px;
  margin-top: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  overflow: hidden;
}

.item {
  width: 70px;
  height: 70px;
}

/* @keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(-70px);
  }
}

.slide-in {
  animation: slideIn 5s ease;
} */