.other-info {
    .other-information {
        margin-right: 40%;
        margin-left: 14%;
        padding: 1% 1% 1% 0;
    
        border-bottom: 1px solid #E9ECEF;
        color: #373A3C;
    
        .information-title {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 700;
        }
    }
}
