.reservation-modal {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .modal-header {
    height: 48px;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-header-title {
      font-weight: 700;
    }

    .modal-btn-close {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: black;

      &:hover {
        color: #ccc;
      }
    }
  }

  .modal-section {
    height: 85%;
    overflow: scroll;
  }
}