.liner {
  height: 2px;
  width: 100%;
  background-color: #adb5bd;
  margin: 0.5rem 0 2rem;
}

.container {
  margin-bottom: 3rem;
  // margin: 30px 30px;
}

.rightcontainer {
  margin-bottom: 3rem;
  padding: 0 30px;

  @media screen and (max-width: 740px) {
    padding: 0;
  }
}
