@use "../../../Detail.scss" as detail;

.select-ticket {
    .TicketList {
        width: 650px;
        border: 1px solid #E9ECEF;
        background-color: detail.$background-color;
        padding: 24px;
        color: detail.$dark-color;
        .selected-ticket {
            @include detail.line;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 24px 0px;

            .selected-ticket-title,
            .selected-ticket-count {
                color: detail.$light-color;
                font-weight: 500;
            }

            .selected-ticket-price {
                font-weight: 600;
                width: 92px;
                text-align: right;
            }
        }

        .total-container {
            text-align: right;
            margin-top: 24px;

            .total-title {
                font-size: 14px;
                font-weight: 600;
                margin-right: 16px;
            }

            .total-amount {
                font-size: 20px;
                font-weight: 700;
                color: detail.$secondary-color;
            }
        }
    }

    .pay-btn-container {
        width: 699px;
        display: flex;
        justify-content: flex-end;
        margin: 16px 0;
        .pay-btn {
            width: 170px;
            height: 48px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            background-color: detail.$secondary-color;
            border: 1px solid detail.$secondary-color;
            position: relative;
            cursor: pointer;
        }
    }

}