/* main color */
$primary-color: #E6003D;
$secondary-color: #F184A1;

/* font color */
$dark-color : #343A40;
$light-color: #848c94;
$very-light-color: #ADB5BD;

/* background color */
$background-color: #F8F9FA;

/* padding */
$padding : 24px 0 24px 0;
$margin : 12px 0 12px 0;

/* line */
@mixin line {
    border-bottom: 1px solid #E9ECEF;
}

.page {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 320px;
    column-gap: 40px;
}


@media (max-width: 720px) {
    .side,
    .content .select-date {
        display: none;
    }
}

@media (min-width: 720px) {
    .bottom-btn {
        display: none;
    }
}