.container {
  padding: 0 30px;
}

.termsContent {
  border: 1.5px solid #ced4d9;
  border-radius: 5px;
  padding: 18px;
  margin-bottom: 15px;
}

.termsContent div {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.termsContent button {
  width: 10px;
  height: 10px;
  border: none;
  cursor: pointer;
}

.termsContent div {
  font-size: 14px;
}

// .container div:last-child :not(.container) {
//   color: #ced4d9;
//   font-size: 12px;
// }
