@use "../../Detail.scss" as detail;

.ReviewPicture {
    padding: detail.$padding;
    @include detail.line;

    .review-title {
        font-size: 20px;
        font-weight: 700;
    }

    .subpicture {
        display: flex;
        flex-direction: row;
    }
}