.container {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  padding: 24px;
  max-width: 1024px;
  margin: 0 auto;
}

.subContainer {
  display: grid;
  grid-template-areas: "main rail";
  grid-template-columns: 1fr 320px;
  gap: 4rem;
  position: relative;
}

@media screen and (max-width: 740px) {
  .subContainer {
    grid-template-areas: "main";
    grid-template-columns: 1fr;
  }
}
