.CourseIntro {
    width: 700px;
    margin-right: 37%;
    margin-left: 14%;
    padding: 1% 0 2% 0;

    border-bottom: 1px solid #E9ECEF;
    
    .information-title {
        font-size: 20px;
        font-weight: 700;
    }
}
