@use "../../Detail.scss" as detail;

.reservation-bottom {
  width: 100vw;
  align-items: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 12px 16px;
  position: fixed;
  z-index: 1000;
  overflow: visible;
  .wish-btn {
    text-align: center;
    font-size: 16px;
    height: 48px;
    width: 48px;
    margin-right: 8px;
    border: none;
    background-color: detail.$very-light-color;
    color: detail.$dark-color;
  }
  
  .purchase-btn {
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: detail.$secondary-color;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 48px;
  }
}