.otherinfo-information {
    padding: 1px 0 0 0;
    h3 {
        font-size: 15px;
        font-weight: 700;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}
