.container {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* max-width: 900px; */
  margin-bottom: 24px;
}

.regBox {
  width: 340px;
  height: 140px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyBox {
  width: 340px;
  height: 140px;
  border-radius: 12px;
}

.regionName {
}
