.login_body {
  flex-direction: column;
  align-items: center;
  max-width: 699px;
  height: 506px;
  margin: 30px auto;
}

.login_title {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.input {
  width: 699px;
  height: 150px;
  border: solid 1px #DDDDDD;
  border-radius: 8px;
}

.keep_id {
  margin: 15px;
  display: flex;
  align-items: center;
}

.keep_id_check {
  content: url(./Icons/check_icon.png);
  width: 20px;
  margin: 0 10px 0 0;
}

.keep_id_check:checked {
  content: url(./Icons/checked_icon.png);
}

.keep_id_text {
  color: #111;
  /* font-size: 12px;
  font-weight: 500;
  line-height: normal; */
}

.login_btn {
  width: 699px;
  height: 51px;
  border: none;
  border-radius: 8px;
  background: #E6003E;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.login_function_box {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
  color: #353535;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.no_decoration {
  text-decoration: none;
  color: #353535;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.separator::before {
  content: "";
  border-left: 1px solid #DDD;
  height: 20px;
  margin: 0 14px;
}

.signup_btn_box .no_decoration {
  display: flex;
  align-items: center;
}

.signup_link {
  color: #4A87FF;
  margin-left: 4px;
}

.v_box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  color: #797979;
  font-size: 15px;
}

.OAuth {
  display: flex;
  text-align: center;
}

.sns_logo {
  width: 49px;
  margin-right: 0;
  margin-left: 10px;
}