.middle {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: auto;
}

.sns {
  width: 30%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logoImgs {
  width: 120px;
  float: left;
  margin: auto;
}

.imgContainer {
  display: flex;
  justify-content: space-between;
}

.middle-mobile {
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: auto;
}

.sns-mobile {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-mobile img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
