.Detail-icon-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 37%;
    margin-left: 14%;
    padding: 1% 1%;

    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF;
}
