@use "../../../Detail.scss" as detail;

.Detail-icon-detail {
  display: flex;
  flex-basis: 50%;

  font-size: 15px;
  font-weight: 400;
  color: detail.$dark-color;

  .content {
    display: flex;
    align-items: center;

    .icon {
      padding: 0 10px 0 0;
    }
    .phrases {
      margin: detail.$margin;
      white-space: nowrap;
    }
  }
}